In [1]:
import pandas as pd
import requests
import json
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import calendar
from datetime import date
import holidays
import statsmodels.api as sm

In [2]:
train = pd.read_csv('ashrae-energy-prediction/train.csv')
building = pd.read_csv('ashrae-energy-prediction/building_metadata.csv')
weather_data_tr=pd.read_csv('ashrae-energy-prediction/weather_train.csv')
test = pd.read_csv('ashrae-energy-prediction/test.csv')
weather_data_te=pd.read_csv('ashrae-energy-prediction/weather_test.csv')

In [3]:
from gimme_data import all_the_data

In [4]:
df=all_the_data(train, building, weather_data_tr)

In [5]:
df

,building_id,timestamp,meter,meter_reading,site_id,month,hour,weekday,holiday,0,1,2,3,air_temperature,dew_temperature,wind_speed
0,0,2016-01-01 00:00:00,0,0.000,0,1,0,4,True,1,0,0,0,25.0,20.0,0.0
1,1,2016-01-01 00:00:00,0,0.000,0,1,0,4,True,1,0,0,0,25.0,20.0,0.0
2,2,2016-01-01 00:00:00,0,0.000,0,1,0,4,True,1,0,0,0,25.0,20.0,0.0
3,3,2016-01-01 00:00:00,0,0.000,0,1,0,4,True,1,0,0,0,25.0,20.0,0.0
4,4,2016-01-01 00:00:00,0,0.000,0,1,0,4,True,1,0,0,0,25.0,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,2016-12-31 23:00:00,0,8.750,15,12,23,5,False,1,0,0,0,1.7,-5.6,8.8
20216096,1445,2016-12-31 23:00:00,0,4.825,15,12,23,5,False,1,0,0,0,1.7,-5.6,8.8
20216097,1446,2016-12-31 23:00:00,0,0.000,15,12,23,5,False,1,0,0,0,1.7,-5.6,8.8
20216098,1447,2016-12-31 23:00:00,0,159.575,15,12,23,5,False,1,0,0,0,1.7,-5.6,8.8
20216099,1448,2016-12-31 23:00:00,0,2.850,15,12,23,5,False,1,0,0,0,1.7,-5.6,8.8

In [ ]:
df_no_dummies=all_the_data(train, building, weather_data_tr)