In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('train.csv')

In [10]:
def train_meter_columns(train_meter):
    #imports train csv

    # Convert Timestamp column to date time index 
    train_meter['timestamp'] = pd.to_datetime(train_meter['timestamp'])
    train_meter.set_index('timestamp', inplace=True)

    # {0: electricity, 1: chilledwater, 2: steam, 3: hotwater}
    # Takes value in meter_reading column based on the meter column value and places it in the correct column
    train_meter['0_electricity'] = np.where(train_meter['meter'] == 0, train_meter['meter_reading'], 0)
    train_meter['1_chilledwater'] = np.where(train_meter['meter'] == 1, train_meter['meter_reading'], 0)
    train_meter['2_steam'] = np.where(train_meter['meter'] == 2, train_meter['meter_reading'], 0)
    train_meter['3_hotwater'] = np.where(train_meter['meter'] == 3, train_meter['meter_reading'], 0)
    
    return train_meter

In [11]:
train_df = train_meter_columns(df)

In [13]:
train_df.drop(['meter', 'meter_reading'], axis=1, inplace = True)

In [17]:
train_df.head()

            building_id  0_electricity  1_chilledwater  2_steam  3_hotwater
timestamp
2016-01-01            0            0.0             0.0      0.0         0.0
2016-01-01            1            0.0             0.0      0.0         0.0
2016-01-01            2            0.0             0.0      0.0         0.0
2016-01-01            3            0.0             0.0      0.0         0.0
2016-01-01            4            0.0             0.0      0.0         0.0